.products-filters {
  background-color: #5da7ed;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  &__filter {
    padding: 10px;
    align-items: center;
    display: flex;
  }

  &__filter-name {
    font-weight: bold;
    padding-right: 5px;
  }

  &__filter-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 230px;
  }

  &__action {
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;

    &:hover {
      background-color: #e7e2ef;
    }

    &:active {
      background-color: #d8d3e0;
    }
  }
}


@media screen and (max-width: 900px) {
  .products-filters {
    &__filter {
      width: 260px;
      justify-content: space-between;
    }

    &__filter-name {
      padding: 0;
    }
  }
}
